# Introduction to Python

## What is Python?

Python is an extremely common programming language that is becomming more and more popular with all types of programmers. It especially strong in data handling, and is the language of choice for AI and data science applications including machine learning. 

Python was invented in 1990 by Guido van Rossum and was specifically designed for programmers (not computers). Thus it's one of the best programming languages to learn as a first language. 

> So I set out to come up with a language that made programmers more productive, and if that meant that the programs would run a bit slower, well, that was an acceptable trade-off - Van Rossum

### The Zen of Python

Python has a philosophy built into the language

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## Running the Python interperter

If you are using the recommended Jupyter Lab, then you can eaisly access a terminal in the same window as this notebook

We can start an interactive Python **interpreter** session by typing the following 

```bash
#  the $ indicates the command is run in a shell
$ python
```

We can see where this Python executable is located on our machine using the bash program `which`:

In [2]:
#  use ! to run bash/shell code in the notebook directly
!which python

/usr/bin/python

And what version of Python we are using by running Python with a command line argument:

In [3]:
#  use ! to run bash/shell code in the notebook directly
!python3 --version

Python 3.7.9

# Python development environment

## iPython

IPython = Interactive Python 
- command shell for interactive computing
- IPython is what runs in Jupyter

## Python development environments (IDEs)

An IDE is where you develop your code. 
In Python, we run code in 2 different ways: 
- iPython: lets you run small snippets of code directly
- Python: script mode, runs entire programs

## Using Python
Python works with (mainly) 2 different things at the lowest level:
1. Data types
2. Functions

Data types store data. Functions act on or change those bits of data.
We name different <i> instances </i> of those data types and save them as variables to make our code easier to read and work with.

## Data Types - Numbers
There are 2 different data types for holding numeric values in python - floats and integers.
Python can be used just like a calculator to work on these numbers.

In [4]:
type(16)

int

In [5]:
type(16.0)

float

We can use the typical operators we know `(+, *, /, etc.) ` to perform math operations.

NOTE: `=` in python is used to assign a variable to a name. It is NOT necessary for doinga math operation.

In [7]:
6 * 3

18

Python will complete the operations based on correct order of operations.

In [8]:
4 + 1 * 3

7

We can do exponentiation:

In [9]:
4 ** 2

16

In [10]:
float(4) ** 0.5

2.0

The modulo (`%`) operator gives us the remainder after division:

In [11]:
20 % 6

2

This can be used to check if a number is even:

In [12]:
20 % 2 == 0

True

## Data Types - Booleans

In [13]:
type(True)

bool

In [14]:
False

False

Many expressions in Python have a "truth value" and evaluate to one of the two boolean values.
- values which are evaluated to `True` or `False`

In [15]:
bool(100)

True

In [16]:
bool(-1)

True

In [17]:
bool(0)

False

In [18]:
bool([1])

True

In [19]:
bool([])

False

In [20]:
bool(-1)

True

In [21]:
bool(None)

False

## Data Types: Strings

String data types hold text data. If a number appears in a string, it isn't treated as a number (can't be added, multiplied, etc.).
They can be written in multiple ways:

Can use `"`, `'` or `str()`

In [22]:
"this is fine"

'this is fine'

In [23]:
'so is this'

'so is this'

Files are just big lists of characters

`\n` in the newine character

In [25]:
lines = "First line \nSecond line"
print(lines)

First line
Second line

Multiple line strings:

In [27]:
lines_2 = """First line,
Second line"""
print(lines_2)

First line,
Second line

In [28]:
# showing that the line break is read from the typed line break
lines_2

'First line,\nSecond line'

Strings next to each other are joined:

In [29]:
"Py" "thon"

'Python'

In [30]:
print("Py" "thon")

Python

We can add strings together (called concatenation):

In [31]:
"ja" + "nein"

'janein'

In [32]:
"ja" + " " + "nein"

'ja nein'

And multiply them:

In [33]:
"ja" * 3

'jajaja'

In [34]:
"ja " * 3

'ja ja ja '

What happens when we try to multiply this string?:

In [35]:
"2" * 3

'222'

## String formatting

There are many formatting tricks in Python to control how strings appear. 
Most formatting commands involve the `{}` curly brackets.

In [38]:
day = "Tuesday"
print("Today is day: {}".format(day))

Today is day Tuesday

In [39]:
day = "Tuesday"
print(f"Today is day: {day}")

Today is day Tuesday

We can control the formatting of decimal places

In [40]:
x = 1.00015
f"{x:.4f}, {x:.2f}, {x:.1f}, {x:.0f}"

'1.0002, 1.00, 1.0, 1'

## String stripping

A common operation is removing whitespaces:

In [41]:
"python is dynamically typed"

'python is dynamically typed'

Related is to remove characters from the string - this can be done by replacing with `''`

In [42]:
"python is dynamically typed".replace(" ", "")

'pythonisdynamicallytyped'

## `in`

A way to check if an object exists in an iterable using `in`.  As strings are iterable, this syntax works with strings:

In [43]:
new_string = "Python"

In [44]:
"P" in new_string

True

In [45]:
"p" in new_string

False

## Comparisons
a double equals sign is used to compute comparisons in Python.

An exclamation sign followed by an equals sign means "is not equal to"

In [52]:
5 == 6

False

In [53]:
5 == 3 + 2

True

In [54]:
5 != 6

True

## Logical operators

`and`, `or`, `not`

In [55]:
True and True

True

In [56]:
True and False

False

In [57]:
True or False

True

In [59]:
True is not False

True

## Conditionals
Booleans can be used in conditional commands. 
Conditional commands work just like the "IF..THEN.." command you know from Microsoft Excel.


Try changing the value of X in the example below:

In [49]:
x = 5

In [47]:
if x <= 10:
    print("X is less than or equal to 10")
else:
    print("X is greater than 10")

X is less than or equal to 10

We can add almost infinite layers to our conditional by adding `elif` to the conditional block

In [48]:
y = 20

In [51]:
if x <= 10 or y <= 10: 
    print("X or Y is less than or equal to 10")
elif x > 20: 
    print("x is greater than 20")
else:
    print("X is between 11 and 19")

X or Y is less than or equal to 10

## Datatypes: List
A list in python is a collection of datapoints. It is created with brackets `[]` or using `list()`. 
We can use **selectors** to select specific items within the list.

In [60]:
my_list = [1, 1.0, "hi"]

Selectors are called after the list using `[]`. PYthon starts counting at 0. To get the first element of the list then, we need to use 0 inside the selector. To get the second item, we would put a 1 inside the selector. 

We can also start from the back of the list, using -1. Then every positional element we want to get after the last one, we subtract one further. For example, if we want to get the 2nd-from-last element, we could select this element by putting -2 in the selector.

In [61]:
my_list[0]

1

In [62]:
my_list[1]

1.0

In [63]:
my_list[-1]

'hi'

In [64]:
my_list[-2]

1.0

Selecting a range of a list

In [65]:
weekdays = [
    "Monday",
    "Tuesday",
    "Wednesday",
    "Thursday",
    "Friday",
    "Saturday",
    "Sunday"
]

Select Thursday and Friday from the list

In [66]:
# answer 
weekdays[3:5]

['Thursday', 'Friday']

## Variables & objects

In Python (unlike other languages) there is a difference between **objects** and **variables**:
- object = the actual data in memory
- variable = a label that refers to an object

Objects have an identity, type and value.  Only the value changes over time.

In Python, variables **refer** to objects.  They are labels for objects - not the object themselves.
- one object can have many labels
- one label = only one object

Below we create two objects

In [67]:
first = [2, 4, 8]
second = [2, 4, 8]

We can use two different operators to compare these variables.

The `==` operator checks if the two objects have the same values:

In [68]:
second == first

True

The `is` operator checks whether both variables refer to the same object:

In [69]:
second is first

False

In [70]:
third = first

In [71]:
third is first

True

In [72]:
fourth = first.copy()

In [73]:
fourth is first

False

Under the hood Python is comparing the object's `id` - a unique value for each object:

In [74]:
id(first)

140356997616656

In [75]:
id(third)

140356997616656

In [76]:
id(fourth)

140356998424848

In [77]:
id(second)

140356997623152

# Loops
In Python (and programming in general), we'll find many times when we want to do the same calculation over multiple values. This is what loops are for. They allow us to iterrate through lists, or rows in a table of data. 

### `for`

We can iterate through any object that has multiple smaller objects within it, like a list. 
A list contains multiple smaller elements within it.

In [78]:
for i in first:
    print(i)

2
4
8

In [79]:
p = [1, 5, 8, 12, 6]

for i in p[:3]:
    new_number = i + 5
    print("old number: ", i)
    print("new number: ", new_number)

old number:  1
new number:  6
old number:  5
new number:  10
old number:  8
new number:  13

Question: What will happen if we call `new_number` now?

In [80]:
new_number

13

How could we see all of the new_numbers?

In [81]:
p = [1, 5, 8, 12, 6]

# instantiating empty list to hold all new_numbers
new_p = []
for i in p[:3]:
    new_number = i + 5
    print("old number: ", i)
    print("new number: ", new_number)
    new_p.append(new_number)

old number:  1
new number:  6
old number:  5
new number:  10
old number:  8
new number:  13

In [82]:
new_p

[6, 10, 13]

A useful tool in python exists for making increasing 'counting-style' lists. This is called `range`. With range, the programmer enters the value at which they want the list to start and stop, and the 'step' of the list. Normally this would be 1. Setting the step to 2 counts off by skipping the intermediary number.

In [84]:
range?

Init signature: range(self, /, *args, **kwargs)
Docstring:
range(stop) -> range object
range(start, stop[, step]) -> range object

Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
These are exactly the valid indices for a list of 4 elements.
When step is given, it specifies the increment (or decrement).
Type:           type
Subclasses:

Range doesn't "show" the list, have to convert it to a list to see this. However, it is still iterable.

In [85]:
range(10)

range(0, 10)

In [86]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [87]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

setting starting point with range

In [88]:
# note that it now starts at 1, not 0.
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

setting step size with range

In [90]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

## Strings are iterable

In [37]:
for i in "python":
    print(i)

p
y
t
h
o
n

We can use the builtin `len` to measure the number of characters in a string:

(can also be used to measure length of a list, or any iterable)

In [91]:
len("python")

6

We can see some of the other functionality available on the `str` object using `dir`:

In [93]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

## Exercises

Write a program to print out:

```
*****                                                                  
  *                                                                    
  *                                                                    
  *                                                                    
  *                                                                    
  *                                                                    
  *  
```

It might be useful to know you can do

`'*' * 2 = '**'`

`'*' + ' ' = '* '`


`'\n'` makes a line break in python

In [95]:
for i in range(6):
    if i == 0:
        print(5 * "*")
    else:
        print("  *")

*****
  *
  *
  *
  *
  *

Write a program to print:
```
1
22
333
4444
55555
666666
7777777
88888888
999999999
```

In [96]:
for i in range(1, 10):
    print(i * str(i))

1
22
333
4444
55555
666666
7777777
88888888
999999999

## Datatypes: Dictionary

Dictionaries are a handy way to keep track of data in key-value pairs. 
`{key1: value1, key2: value2}`

Let's make a list of dictionaries:

In [98]:
data = [
    {'author': 'F. SCOTT FITZGERALD', 'text': 'Action is character'},
    {'author': 'RALPH WALDO EMERSON', 'text': 'Every man is my superior in some way. In that, I learn of him'},
    {'author': 'RALPH WALDO EMERSON', 'text': 'The purpose of life is not to be happy. It is to be useful, to be honorable, to be compassionate, to have it make some difference that you have lived and lived well'},
    {'author': 'Ralph Waldo Emerson', 'text': 'Every man alone is sincere.  At the entrance of a second persion, hypocrisy beings'},
    {'author': 'Majjha Nikaya', 'text': 'This is, because that is.  This is not, because that is not.  This is like this, because this is like that'}
]

We can select our first quote dictionary:

In [99]:
data[0]['text']

'Action is character'

We can iterate over the keys:

In [103]:
dict1 = data[0]
for key in dict1.keys():
    print(key)

author
text

And the same for the values:

In [104]:
for value in dict1.values():
    print(value)

F. SCOTT FITZGERALD
Action is character

And both at the same time:

In [105]:
for key, value in dict1.items():
    print(key, value)

author F. SCOTT FITZGERALD
text Action is character

We can then use the dictionaries to make a DataFrame (more on this in the pandas class :) )

In [107]:
import pandas as pd

In [108]:
pd.DataFrame(data)

                author                                               text
0  F. SCOTT FITZGERALD                                Action is character
1  RALPH WALDO EMERSON  Every man is my superior in some way. In that,...
2  RALPH WALDO EMERSON  The purpose of life is not to be happy. It is ...
3  Ralph Waldo Emerson  Every man alone is sincere.  At the entrance o...
4        Majjha Nikaya  This is, because that is.  This is not, becaus...

## Exercises:

Write a Python program to display the first and last colors from the following list.

color_list = ["Red","Green","White" ,"Black"]

Should display "Red Black"

In [109]:
color_list = ["Red","Green","White" ,"Black"]
print(color_list[0] + " " + color_list[-1])

Red Black

Sum all the items in the following list:
x = [1, 2, 3, 7, 12]

(hint: no using built-in functions!)

In [113]:
x = [1, 2, 3, 7, 12]

total = 0
for i in x:
    total += i
    
print(total)
assert total == sum(x)

25

Get the maximum number from a list: y = [-10, 6, 8, 14]

(hint: no using built-in functions!)

In [115]:
y = [-10, 6, 8, 14]

for index, i in enumerate(y):
    if index == 0:
        highest = i
    else:
        if i > highest:
            highest = i

print(highest)
assert highest == max(y)

14

Check if a list is empty or not.

For list p = [ ], should print "True".

For list q = [1, 2, 3, 4] should print "False".

In [117]:
# should print the opposite
not bool([])

True

In [118]:
not bool([1, 3])

False

Add the {key: value} pair `{"Susan: 43}` to the dictionary `ages = {"Joe": 50, "Gretchen": 31}`

In [ ]:
ages = {"Joe": 50, "Gretchen": 31}

# first way 
ages["Susan"] = 43

# second way
ages.update({"Susan": 43})